<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>

    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>

  </configSections>
  <dataConfiguration defaultDatabase="QualityMeasurementConnectionString" />

  <connectionStrings>
    <add name="QualityMeasurementConnectionString"
         connectionString="Data Source=.;Database=DWSPHA;Persist Security Info=True; Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--Data Repository Types-->
      <register type="Quality.Measurement.System.Shared.Data.Repository.IUserRepository, Quality.Measurement.System.Shared.Data.Repository" mapTo="Quality.Measurement.System.Data.Repository.UserRepository, Quality.Measurement.System.Data.Repository" />

      <!--Business Logic Types-->
      <register type="Quality.Measurement.System.Shared.BusinessLogic.IUserLogic, Quality.Measurement.System.Shared.BusinessLogic" mapTo="Quality.Measurement.System.BusinessLogic.UserLogic, Quality.Measurement.System.BusinessLogic" />
    </container>
  </unity>

</configuration>